<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>华彩员工详细信息</title>
     {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/userinfo.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "fonts/iconfont.css" %}" type="text/css">
</head>
<body>
    <div class="header">
        <div class="header-top">
            华彩物业人员信息查看或修改页面
        </div>
        <div class="header-bottom">
            当前用户:<span id="now-user">一般用户</span>
        </div>
    </div>
    <div>
        <div class="sidebar">

            <input id="add-group"type="button" value="添加项目">
            <ul>
                <li><b>项目名称</b></li>
                {% for item in group_list %}
                    <li>{{ item.group_name }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="main">

            <!--user-info-page-->

            <div class="user-info-page">

                <div class="user-info-page-top">双击行进行修改或查看详细信息
                </div>

                <div class="search">
                    <input id='add_button' type="button" value="添加">
                    <div class="search-content">
                        <input id="search" type="text">
                        <input id="search_button" type="button" value="搜索">
                    </div>
                </div>

                <div class="user-info-page-content">
                    <table class="info-page-table">
                        <tr>
                            <th>序号</th>
                            <th>姓名</th>
                            <th>身份证号码</th>
                            <th>出生年月</th>
                            <th>是否购买保险</th>
                            <th>年龄</th>
                            <th>职位</th>
                            <th>所属项目</th>
                        </tr>
                    </table>
                </div>
            </div>

            <!--_add_page-->

            <div class="add-user-page">
                <form action="adduser/" method="post" enctype="multipart/form-data"><!--要上传图片必须要有enctype-->
                <div class="add-user-page-top"><input id="back_user_info" type="button" value="返回"></div>
                    <div class="add-user-page-left">
                        <span>姓名:</span><input name="name" type="text" />
                        <span>身份证码:</span><input id="id_number" name="id_number" type="text" /><p>
                        <span>工资:</span><input name="wages" type="text" />
                        <span>出生年月:</span><input id="birth_date" name="birth_date" type="text" /><p>
                        <span>入职时间:</span><input id="date_of_joining" name="date_of_joining" type="text" />
                        <span>联系方式:</span><input name="contact" type="text" /><p>
                        <span>年龄:</span><input id='age'  type="text" />
                        <span>是否投保:</span><select name="insurer">
                            <option value="1">是</option>
                            <option value="2">否</option>
                        </select><p>
                        <span>所在项目:</span><select id="group" name="group">
                            {% for item in group_list %}
                                <option value={{ item.id }}>{{ item.group_name }}</option>
                            {% endfor %}
                        </select>
                        <span>所在职位:</span><select id="position" name="position">
                            {% for item in position_list %}
                                <option value={{ item.id }}>{{ item.position_name }}</option>
                            {% endfor %}
                        </select><p>
                    </div>

                    <div class="add-user-page-right">
                        <span>上传员工照片</span>
                        <img  class="input_img" src="{% static "toux.jpg" %}" width="120" height="150">
                        <input name="upload_img" id="upload" class="input_file" type="file" value="上传照片">
                    </div>


                    <div class="add-user-page-footer">
                        <div>
                            <input id="add_user" type="submit" value="添加信息">
                        </div>
                    </div>
                </form>
            </div>

            <!--modify_page-->


            <div class="modify-info-page">
                <div class="modify-info-page-top"><input id="modify_back" type="button" value="返回"></div>
                <div class="modify-info-page-left">
                    <span>姓名:</span><input id="modify_name" type="text"  ondblclick="celar();"/>
                    <span>身份证码:</span><input id="modify_id_number" type="text" /><p>
                    <span>工资:</span><input id="modify_wages" type="text" />
                    <span>出生年月:</span><input id="modify_birth_date" type="text" /><p>
                    <span>入职时间:</span><input id="modify_date_of_joining" type="text" />
                    <span>联系方式:</span><input id="modify_contact" type="text" /><p>
                    <span>年龄:</span><input id="modify_age" type="text" />
                    <span>是否投保:</span><select id="modify_insurer" >
                    <option value="1" >是</option>
                    <option value="2" >否</option>
                </select><p>
                    <span>所在项目:</span><select id="modify_group" name="group">
                        {% for item in group_list %}
                            <option value={{ item.id }} >{{ item.group_name }}</option>
                        {% endfor %}
                    </select>
                    <span>所在职位:</span><select id="modify_position" name="position">
                        {% for item in position_list %}
                            <option value={{ item.id }} >{{ item.position_name }}</option>
                        {% endfor %}
                    </select><p>
                </div>

                <div class="modify-info-page-right">
                    <span>修改员工照片</span>
                    <img id="modify_img" class="input_img" src="{% static "toux.jpg" %}" width="120" height="150">
                    <input id="modify_upload" class="input_file" type="file" value="上传照片">
                </div>

                <div class="modify-info-page-center">
                    <table class="modify-page-table">
                        <tr>
                            <th>时间</th>
                            <th>事件(详细)</th>
                            <th>依据</th>
                        </tr>
                    </table>
                    </table>
                </div>
                <div class="modify-info-page-footer">
                    <div>
                        <input id="modify_info" type="button" value="修改信息">
                        <input id="out_user" type="button" value="办理离职">
                    </div>
                </div>
            </div>


        </div>
    </div>
    <script src="{% static "js/jquery-2.2.1.js" %}"></script>
    <script src="{% static "js/userinfo.js" %}"></script>
</body>
</html>